* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.isLocket {
  overflow: hidden;
}

.containerUser {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(2px);
}
.containerUser .closeContainer {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
.containerUser .closeContainer::before, .containerUser .closeContainer::after {
  content: "";
  position: absolute;
  top: 0.6944444444vw;
  right: 0.625vw;
  width: 1.5277777778vw;
  height: 0.2777777778vw;
  background: rgb(0, 0, 0);
}
.containerUser .closeContainer::before {
  transform: rotate(45deg);
}
.containerUser .closeContainer::after {
  transform: rotate(-45deg);
}
.containerUser .userWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  background-color: rgb(187, 180, 180);
  border-radius: 10px;
  width: 50%;
  height: 16.6666666667vw;
}
.containerUser .userWrapper .imageUser {
  width: 35%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.containerUser .userWrapper .infoWrapper {
  width: 50%;
  height: 100%;
  padding: 0.6944444444vw 1.0416666667vw;
}
.containerUser .userWrapper .infoWrapper .nameUser {
  font-size: 2.2222222222vw;
  text-align: center;
}
.containerUser .userWrapper .infoWrapper .contactUser {
  display: flex;
  font-size: 1.6666666667vw;
  padding-top: 1.3888888889vw;
}
.containerUser .userWrapper .infoWrapper .contactUser .emailUser {
  position: relative;
  left: 1.3888888889vw;
  text-decoration: none;
  color: rgb(15, 116, 116);
}
.containerUser .userWrapper .infoWrapper .idUser {
  font-size: 1.6666666667vw;
  padding-top: 1.3888888889vw;
}

h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: underline;
  color: rgb(77, 14, 35);
}
h2.name_lastName {
  margin-top: 80px;
}

h3 {
  font-size: 22px;
  padding-left: 10px;
  text-decoration: underline;
}

ul {
  display: flex;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 5px 15px;
}

.listLastName {
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.userNameF_wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 80px;
  justify-content: center;
}
.userNameF_wrapper .cardUserF {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 205px;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 9px 4px #b6b2b3;
  -webkit-box-reflect: below 8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(67%, transparent), to(rgba(250, 250, 250, 0.5)));
}
.userNameF_wrapper .cardUserF .titleCardF {
  padding: 5px;
  align-self: center;
  text-decoration: underline;
}
.userNameF_wrapper .cardUserF a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px;
}
.userNameF_wrapper .cardUserF div {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}
.userNameF_wrapper .cardUserF img {
  margin-top: auto;
  object-fit: cover;
  width: 50%;
  height: 40%;
}
.userNameF_wrapper .cardUserF .btnUser {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(208, 188, 188);
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  box-shadow: 2px 1px 9px 0px;
}
.userNameF_wrapper .cardUserF .btnUser:active {
  box-shadow: inset 2px 1px 9px 0px;
}

.ulAllUserName {
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 600;
}

.ulAllKeysUser {
  flex-wrap: wrap;
  justify-content: center;
}

.liKeyUser {
  color: rgb(65, 7, 65);
  font-size: 30px;
}

.error {
  text-align: center;
  margin-top: 20%;
  font-size: 42px;
  font-style: italic;
  color: red;
  text-shadow: 16px 16px 20px black;
}

@media (max-width: 1025px) {
  .containerUser .closeContainer::before, .containerUser .closeContainer::after {
    top: 0.9765625vw;
    right: 0.48828125vw;
    width: 2.1484375vw;
    height: 0.390625vw;
  }
}
@media (max-width: 769px) {
  .containerUser .closeContainer::before, .containerUser .closeContainer::after {
    top: 1.3020833333vw;
    right: 0.2604166667vw;
    width: 4.1666666667vw;
    height: 0.5208333333vw;
  }
}

/*# sourceMappingURL=style.css.map */
